<div class="container">
  <div class="card mb-4">
    <div class="card-header text-center">
      <h3>
        Next Race:
        <span *ngIf="!nextRaceLoading" class="font-weight-bold">{{
          nextRace[0].raceName
        }}</span>
      </h3>
      <p *ngIf="!nextRaceLoading">
        {{ nextRace[0].Circuit.circuitName }} |
        {{ nextRace[0].date | date: "dd/MM/yyyy" }}
      </p>

      <p *ngIf="!nextRaceLoading"></p>
    </div>
    <div
      class="card-body bg-success"
      style="padding-left: 0; padding-right: 0;"
    >
      <div class="countdown-container">
        <countdown
          *ngIf="nextRace"
          class="countdown"
          [text]="text"
          units="Days | Hours | Minutes | Seconds"
          [end]="nextRaceTimeDate"
        ></countdown>
      </div>
    </div>
    <button
      routerLink="calendar"
      class="btn btn-primary btn-block"
      style="border-top-left-radius: 0; border-top-right-radius: 0;"
    >
      VIEW CALENDAR
    </button>
  </div>

  <div class="row">
    <div class="col-md mb-4">
      <div class="card">
        <div class="card-header">
          Drivers' Standings
        </div>
        <div class="card-body" *ngIf="!driverStandingsLoading">
          <table class="table">
            <thead>
              <tr>
                <th>Pos.</th>
                <th>Driver</th>

                <th colspan="2">Constructor</th>
                <th>Pts.</th>
              </tr>
            </thead>
            <tbody>
              <!-- Map through driver standings - only show top 5 drivers -->
              <tr
                *ngFor="
                  let driver of driverStandings[0].DriverStandings | slice: 0:5;
                  let i = index
                "
              >
                <td *ngIf="i < 6">{{ driver.position }}</td>
                <td *ngIf="i < 6">{{ driver.Driver.familyName }}</td>
                <td
                  *ngIf="i < 6"
                  [class]="driver.Constructors[0].constructorId"
                  class="colour-team"
                ></td>
                <td *ngIf="i < 6">{{ driver.Constructors[0].name }}</td>
                <td *ngIf="i < 6">{{ driver.points }}</td>
              </tr>
            </tbody>
          </table>
          <button
            routerLink="/driver-standings"
            class="btn btn-success btn-block"
          >
            FULL DRIVER STANDINGS
          </button>
        </div>
        <div
          *ngIf="driverStandingsLoading"
          class="spinner-border text-primary text-center"
          role="status"
        ></div>
      </div>
    </div>

    <div class="col-md mb-4">
      <div class="card">
        <div class="card-header">
          Constructors' Standings
        </div>
        <div class="card-body" *ngIf="!constructorStandingsLoading">
          <table class="table">
            <thead>
              <tr>
                <th>Pos.</th>

                <th colspan="2">Constructor</th>
                <th>Pts.</th>
                <th>Wins</th>
              </tr>
            </thead>
            <tbody>
              <!-- Map through constructor standings - only show top 5 teams -->
              <tr
                *ngFor="
                  let constructor of constructorStandings[0]
                    .ConstructorStandings | slice: 0:5;
                  let i = index
                "
              >
                <td *ngIf="i < 6">{{ constructor.position }}</td>
                <td
                  *ngIf="i < 6"
                  [class]="constructor.Constructor.constructorId"
                  class="colour-team"
                ></td>
                <td *ngIf="i < 6">{{ constructor.Constructor.name }}</td>

                <td *ngIf="i < 6">{{ constructor.points }}</td>
                <td *ngIf="i < 6">{{ constructor.wins }}</td>
              </tr>
            </tbody>
          </table>
          <button
            routerLink="/constructor-standings"
            class="btn btn-success btn-block"
          >
            FULL CONSTRUCTOR STANDINGS
          </button>
        </div>
        <div
          *ngIf="constructorStandingsLoading"
          class="spinner-border text-primary text-center"
          role="status"
        ></div>
      </div>
    </div>
  </div>

  <div class="card mb-4">
    <div class="card-header text-center">
      <h3>
        Last Race:
        <span *ngIf="!lastRaceResultsLoading" class="font-weight-bold">{{
          lastRaceResults.Races[0].raceName
        }}</span>
      </h3>
      <p *ngIf="!lastRaceResultsLoading">
        {{ lastRaceResults.Races[0].Circuit.circuitName }} |
        {{ lastRaceResults.Races[0].date | date: "dd/MM/yyyy" }}
      </p>
    </div>

    <div class="card-body" *ngIf="!lastRaceResultsLoading">
      <table class="table">
        <thead>
          <tr>
            <th>Pos.</th>
            <th>Driver</th>

            <th colspan="2">Constructor</th>
            <th class="hide-xs">Laps</th>
            <th class="hide-sm">Time</th>
            <th>Pts.</th>
          </tr>
        </thead>
        <tbody>
          <!-- Map through race results - only show first 3 results -->
          <tr
            *ngFor="
              let driver of lastRaceResults.Races[0].Results | slice: 0:3;
              let i = index
            "
          >
            <td *ngIf="i < 4">{{ driver.position }}</td>
            <td *ngIf="i < 4">{{ driver.Driver.familyName }}</td>
            <td
              *ngIf="i < 4"
              [class]="driver.Constructor.constructorId"
              class="colour-team"
            ></td>
            <td *ngIf="i < 4">{{ driver.Constructor.name }}</td>
            <td class="hide-xs" *ngIf="i < 4">{{ driver.laps }}</td>
            <td class="hide-sm" *ngIf="i < 4">{{ driver.Time.time }}</td>

            <!-- Points - use fastest-lap class to turn purple if driver also had FL - show stopwatch icon on larger screens -->
            <td
              [ngClass]="
                driver.FastestLap.rank == '1' ? 'fastest-lap-highlight' : ''
              "
              *ngIf="i < 4"
            >
              {{ driver.points }}
              <i
                *ngIf="driver.FastestLap.rank == '1'"
                class="fas fa-stopwatch fastest-lap-highlight ml-1 hide-md"
              ></i>
            </td>
          </tr>
        </tbody>
      </table>
      <button routerLink="last-race" class="btn btn-success btn-block">
        FULL RACE RESULTS
      </button>
    </div>
    <div
      *ngIf="lastRaceResultsLoading"
      class="spinner-border text-primary text-center"
      role="status"
    ></div>
  </div>

  <div class="card mb-3">
    <div class="card-header">
      Latest Tweets by F1
    </div>

    <div class="card-body">
      <a
        class="twitter-timeline"
        data-height="1500"
        data-theme="light"
        href="https://twitter.com/F1?ref_src=twsrc%5Etfw"
        >Tweets by F1</a
      >
    </div>
  </div>
</div>
