<div class="container">
  <button routerLink="/" class="btn btn-success btn-block mb-4">
    <i class="fas fa-arrow-alt-circle-left"></i> Back
  </button>
  <div class="card mb-3">
    <div class="card-header">
      <h3 class="text-center mt-3">
        <span *ngIf="!raceCalendarLoading" class="font-weight-bold">{{
          raceCalendar.season
        }}</span>
        Calendar
      </h3>
    </div>
    <ng-container *ngIf="!raceCalendarLoading">
      <div class="card-body" *ngFor="let race of raceCalendar.Races">
        <div class="row">
          <div class="col-2 text-center" style="max-width: 80px;">
            <img
              src="../../../assets/flags/{{
                race.Circuit.Location.country
              }}.png"
              alt=""
              style="width: 60px; height: auto;"
              class="mr-4 ml-auto"
            />
          </div>
          <div class="col">
            <h4>
              <span class="badge badge-success">Round {{ race.round }}</span> -
              {{ race.raceName }}
            </h4>
            <h5 class="font-italic">{{ race.Circuit.circuitName }}</h5>
          </div>
          <div class="col text-right">
            <h4>{{ race.date | date: "dd/MM/yyyy" }}</h4>
          </div>
        </div>
      </div>
    </ng-container>
    <div class="card border-0" *ngIf="raceCalendarLoading">
      <div class="spinner-border text-success text-center" role="status"></div>
    </div>
  </div>
</div>
