/* COUNTDOWN TIMER STYLING */

p.measurements-number {
  font-weight: bold;
  width: 100%;
  font-family: "Roboto", sans-serif;
}

p.measurements-text {
  /* font-style: italic; */
  background-color: black;
  color: white;
  font-weight: bold;
  border-radius: 10px;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  padding: 3px;
}

@media (max-width: 400px) {
  p.measurements-text {
    font-size: small;
  }
}

div.countdown {
  display: block;
}

div.Days.measurements {
  width: 25%;
  float: left;
  border-right: 2px solid black;
}

div.Hours.measurements {
  width: 25%;
  float: left;
  border-right: 2px solid black;
}

div.Mins.measurements {
  width: 25%;
  float: left;
  border-right: 2px solid black;
}

div.Secs.measurements {
  width: 25%;
  float: left;
}

.countdown[_ngcontent-dyv-c40] .measurements[_ngcontent-rog-c40] {
  flex: none;
}

/* TEAM COLOURS */

.mercedes {
  background-color: #6cd3bf;
}

.ferrari {
  background-color: #ed1c24;
}

.mclaren {
  background-color: #f58020;
}

.red_bull {
  background-color: #1e5bc6;
}

.aston_martin {
  background-color: #2d826d;
}

.alphatauri {
  background-color: #4e7c9b;
}

.alpine {
  background-color: #2293d1;
}

.alfa {
  background-color: #b12039;
}

.williams {
  background-color: #37bedd;
}

.haas {
  background-color: #b6babd;
  /* box-shadow: 0px 0px 0px 1px rgb(158, 158, 158) inset; */
}

/* Coloured block for team colour */

.colour-team {
  padding: 0 !important;
  margin: 0 !important;
  width: 20px !important;
}

/* Fastest lap styling */

.fastest-lap-highlight i {
  color: rgb(236, 0, 236);
  font-weight: bolder;
}

/* DARK MODE STYLING */

.dark-theme {
  background-color: #121212;

  color: #ffffffca;
}

.dark-theme .card {
  background-color: rgb(71, 71, 71);
  border: grey;
}

.dark-theme .card-body {
  background-color: rgb(71, 71, 71);
  border: grey;
}

.dark-theme .card-header {
  background-color: rgb(54, 54, 54);
}

.dark-theme .card-body td {
  color: #ffffffca;
  border-color: black;
}

.dark-theme .card-body th {
  color: #ffffffca;
  border: rgb(71, 71, 71);
}

.dark-theme .nav-tabs .nav-link.active {
  background-color: rgb(71, 71, 71);
  border: rgb(71, 71, 71);
  color: #ffffffca;
  border-bottom: 1px solid rgb(71, 71, 71);
}

.dark-theme .nav-tabs .nav-link.active:hover {
  color: #ffffffca;
}

.dark-theme .nav-tabs {
  border: none;
}

.dark-theme .nav-tabs .nav-link:hover {
  border-color: transparent;
}

.dark-theme div.card-body.bg-success {
  background-color: rgb(0, 117, 111) !important;
}

.dark-theme .navbar {
  background-color: rgb(93, 93, 93) !important;
}

.dark-theme .btn {
  color: #ffffffe7;
}

.dark-theme .logo {
  color: #ff616e;
}

.dark-theme #toggle-text {
  color: #18bc9c !important;
}

.dark-theme p.measurements-text {
  background-color: rgb(54, 54, 54);
  color: #ffffffca;
}

.dark-theme .home-spinner.spinner-border.text-primary {
  color: #18bc9c !important;
}

/* Hide certain table columns on mobile */
@media (max-width: 428px) {
  .hide-xs {
    display: none;
  }
}

@media (max-width: 576px) {
  .hide-sm {
    display: none;
  }

  .fastest-lap-highlight {
    color: rgb(236, 0, 236) !important;
    font-weight: bolder;
  }
}

@media (max-width: 767px) {
  .hide-md {
    display: none;
  }

  .fastest-lap-highlight {
    color: rgb(236, 0, 236) !important;
    font-weight: bolder;
  }
}

/* DARK MODE TOGGLE */

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #18bc9c;
}

input:focus + .slider {
  box-shadow: 0 0 1px #18bc9c;
}

input:checked + .slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 17px;
}

.slider.round:before {
  border-radius: 50%;
}
